@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin:0;
  padding:0;
  font-family: Poppins, sans-serif;
}
body{
  background-image: url('images/wallpaperFb.jpg');
	padding:0;
	margin:0;
	display:flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	background-color: #ADD8E6;

}

.fb fieldset{
	background-color: rgba(255,255,255, 0.3);
	font-family: Poppins;
	color: Black;
	border-radius: 15px;
	border-color: #black;
	box-shadow: 10px 10px 10px #1B7277 ;
	font-size: 20px;
  padding: 40px;
}
.fb legend{
	color:;	font-size: 40px;
	background-color:#301934;
	border-radius: 15px;
	text-align: center;
}
.nav{
	position:absolute;
	left: 60%;
	width: 100%;
	padding: 10px 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100000;
	top:1%;
}


.nav ul{
	align-items: center;
	display: flex;
	justify-content: center;

}
.nav ul li{
	margin-left:20px;
	list-style: none;
}
.nav ul li a{
	text-decoration: none;
	color: white;
	border-radius: 20px;
	padding: 6px 15px;

}
.nav ul li a:hover{
	background: white;
	color: #8A87F4;
}
.nav ul li a.active{
	background: white;
	color: #8A87F4;
}
	